@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 181.26, 83.33%, 44.71%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220, 82.76%, 11.37%;
    --secondary-foreground: 181.26, 83.33%, 44.71%;

    --tertiary: 0, 0%, 8.63%;
    --tertiary-foreground: 210 20% 98%;

    --quaternary: 40, 23.08%, 97.45%;
    --quaternary-foreground: 210 20% 98%;

    --quinary: 0, 0%, 33.73%;
    --quinary-foreground: 210 20% 98%;

    --muted: 220, 82.76%, 11.37%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220, 82.76%, 11.37%;
    --accent-foreground: 181.26, 83.33%, 44.71%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 0, 0%, 89.02%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 181.26, 83.33%, 44.71%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --tertiary: 0, 0%, 8.63%;
    --tertiary-foreground: 210 20% 98%;

    --quaternary: 40, 23.08%, 97.45%;
    --quaternary-foreground: 210 20% 98%;

    --quinary: 0, 0%, 33.73%;
    --quinary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* html,
body {
  font-size: 10px;
} */
